
#reservationPage {
	
	font-size: 14px;
	margin: 0em;
	
}
#reservationPage div {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

#reservationPage input {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 0em 0.5em 0.5em;
	font-size: 1em;
	border: 1px solid #969696;
	display: inline;
	
}

#reservationPage textarea {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0.5em 0em 0.5em 0.5em;
	font-size: 1em;
	border: 1px solid #969696;
	
}

#reservationPage select {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 2em;
	margin: 2px 0px;
	/** padding: 0.5em 0em 0.5em 0.5em; **/
	font-size: 1em;
	border: 1px solid #969696;
	
}

#reservationPage label {
	
	display: block;
	
}

#reservationPage .radio_title {
	
	margin-left: 0.5em;
	
}

#reservationPage .pointer {
	
	cursor: pointer;
	
}

#reservationPage .pointer:hover {
	
	background: #EAEDF3;
	
}

#reservationPage .close {
	
	background: #fcfcfc;
	
}

.calendarData {
	
	font-size: 1.5em;
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	
}

.calendarButtonPanel {
	
	display: table-cell;
	vertical-align: middle;
	
}

#reservationPage .messagePanel {
	
	display: table;
	width: 100%;
	padding: 0.5em 0em;
	white-space: pre-wrap;
	word-break: break-word;
	overflow: auto;
	
}


#reservationPage .calendarPanel {
	
	display: table;
	width: 100%;
	
}

#reservationPage .calendar {
	
	display: table;
	width: 100%;
	
}

#reservationPage .border_bottom_width {
	
	border-bottom-width: 1px !important;
	
}

#reservationPage .dayPanel {
	
	border-color: #969696;
	border-width: 1px 0px 0px 1px;
	border-style: solid;
	float: left;
	width: 14.2%;
	padding: 5px 0px 0px 5px;
	
}

#reservationPage .dayPanelHeight {
	
	height: 100px;
	
}

#reservationPage .datePanel {
	
	font-size: 1.2em;
	margin: 0.5em 0em 0.5em 0em;
	
}

#reservationPage .titleMessage {
	
	font-size: 1.2em;
	text-align: center;
	margin: 0.5em 0em 0.5em 0em;
	
}

#reservationPage .accountPanel {
	
	border-color: #969696;
	border-width: 1px 0px 0px 0px;
	border-bottom-width: 0px;
	border-style: solid;
	float: left;
	width: 100%;
	padding: 10px 5px;
	
}

#reservationPage .unSelectPanel {
	
	background-color: rgb(242,242,242);
	
}

#reservationPage .errorPanel {
	
	background: #FFD5D5;
	
}

#reservationPage .inputPanel {
	
	display: table;
	border-color: #969696;
	border-width: 1px 0px 0px 0px;
	border-bottom-width: 0px;
	border-style: solid;
	float: left;
	width: 100%;
	padding: 10px 5px;
	
}

#reservationPage .indispensableLabel:after {
	
	content: ' ※';
	color: #ff0000;
}

#reservationPage .inputName {
	
	display: table-cell;
	vertical-align: middle;
	width: 30%;
	
}

#reservationPage .inputValue {
	
	display: table-cell;
	vertical-align: middle;
	width: 70%;
	white-space: pre-wrap;
	word-break: break-word;
	/** overflow: auto; **/
	
}

#reservationPage .inputValueHidden {
	
	display: none;
	
}

#reservationPage .textBox {
	
	width: 100%;
	
}

#reservationPage .nameBox1 {
	
	width: 48%;
	
}

#reservationPage .nameBox2 {
	
	width: 48%;
	margin-left: 4% !important;
	
}

#reservationPage .buttonPanel {
	
	display: table;
	float: right;	
}

#reservationPage .backButton {
	
	border: 1px solid #969696;
	border-radius: 3px 3px 3px 3px / 3px 3px 3px 3px;
	border-right-width: 1px;
	background: #ededed;
	cursor: pointer;
	font-size: 1em;
	vertical-align: bottom;
	padding: 5px 10px;
	margin: 10px 10px 10px 0px;
	color: #000000;
	line-height: 1;
	font-weight: normal;
	
}

#reservationPage .hiddenButton {
	
	display: none;
	
}

#reservationPage .calendarButton {
	
	background: #FFF;
	border: solid 1px #969696;
	padding: 0.3em;
	
}

#reservationPage .arrowLeft {
	
	width: 0;
	height: 0;
	border-right: 15px solid black;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
}

#reservationPage .arrowRight {
	
	width: 0;
	height: 0;
	border-left: 15px solid black;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
}








