
span.shortcode {
	display: block;
	margin: 2px 0;
}

span.shortcode > input {
	background: inherit;
	color: inherit;
	font-size: 12px;
	border: none;
	box-shadow: none;
	padding: 4px 8px;
	margin: 0;
}

#reservationPage {
	
	font-weight: 500;
	
}

#reservationPage button {
	
	font-weight: 500 !important;
	
}

#reservationPage table {
	
	margin: 0px;
	
}

#reservationPage tr {
	
	border-width: 0px;
	
}

#reservationPage td {
	
	padding: 0px;
	
}

#reservationPage label {
	
	padding: 0px;
	padding-left: 0.5em;
	
}

#reservationPage div {
	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	
}


table.calendarTableClass {
	
	margin: 0px;
	
}

table.calendarTableClass > tbody > tr {
	
	border-width: 0px;
	
}

table.calendarTableClass > tbody > tr > td {
	
	padding: 0px;
	
}

table.calendarTableClass > tbody > tr > td > span > label {
	
	display: inline;
	
}


table.calendarTableClass > tbody > tr > td > div > span > label {
	
	display: inline;
	
}
