table.res { text-align:center; font-size: 12px; color:#9CBED1}
table.res thead{ background: URL('black.png')  }
tr.row-1 { background: URL('black.png') ; }
tr.row1 { background: URL('grey.png'); }
table.res select {	width: 70px;	}
select.koldays{	width: 40px;	}
div.alert {color:#f00; margin: 20px 0 0px}
div.reservation  select {
	font-size: 11px; font-family: Arial; color: #9CBED1; background: #0d0d0d; border: 1px solid #666666;
	scrollbar-face-color: Red; padding: 3px;
}
div.reservation input {
	font-size: 11px; font-family: Arial; color: #9CBED1; background: #0d0d0d; border: 1px solid #666666;
	scrollbar-face-color: Red; padding: 3px;
}
div.reservation button{
	font-size: 11px; font-family: Arial; color: #9CBED1; background: #0d0d0d; border: 1px solid #666666;
	scrollbar-face-color: Red; padding: 3px;
}
div.reservation textarea{
	font-size: 11px; font-family: Arial; color: #9CBED1; background: #0d0d0d; border: 1px solid #666666;
	scrollbar-face-color: Red; padding: 3px;
}

div.reservation submit{
	font-size: 11px; font-family: Arial; color: #9CBED1; background: #0d0d0d; border: 1px solid #666666;
	scrollbar-face-color: Red; padding: 3px;
}

div.resrvation a,input,img,button{
	outline: none; 
}
#log {width:150px;}
#pwd {width:150px;}

.wp-admin tr.row-1  { background: #ddd; }
.wp-admin tr.row1  { background: #f5f5f5; }